<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.six.ui">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".map.ActivityMap" />


        <activity android:name=".seekbar.SeekbarActivity" />
        <activity android:name=".scroll.ScrollViewActivity"/>

        <activity android:name=".support.BottomNaviActivity"/>

        <activity android:name=".seekbar.SeekbarSample" />

        <activity android:name=".constraintlayout.CardStackSample" />

        <activity android:name=".seekbar.RubberSample" />

        <activity android:name=".viewpager2.ViewPager2TabLayoutActivity"/>

        <activity android:name=".dropdown.MainActivity"/>

        <activity android:name=".tabLayout.CoordinatorLayoutTabLayoutVP2" />

        <activity android:name=".tabLayout.EmptyActivity" />

        <activity android:name=".viewpager2.nestedscrolling.HomeNestedScrollingActivity" />

        <activity android:name=".drawing.SampleActivity" />

        <activity android:name=".softkeyboard.MainActivity" android:windowSoftInputMode="adjustResize" >
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".map.MainActivity" />

        <activity android:name=".tabLayout.MainActivity" />

        <activity android:name=".sequencelayout.SampleActivity" />

        <activity android:name=".constraintlayout.ConstraintSample" />

        <activity android:name="com.six.ui.recyclerview.transAds.TransparentAdActivity" />

        <activity android:name="com.six.ui.sample.CustomListViewActivity" />

        <activity android:name="com.six.ui.sample.BounceScrollViewActivity" />

        <activity android:name="com.six.ui.action_sheet.ActionSheetDialog" />

        <activity android:name="com.six.ui.sample.richEditor.WebViewSample" />

        <activity android:name="com.six.ui.sample.richEditor.SpanSample" />

        <activity android:name="com.six.ui.sample.scrolling.ScrollingSample" />

        <activity android:name="com.six.ui.sample.recyclerview.MainActivity" />

        <activity android:name="com.six.ui.sample.ProgressWheelActivity" />

        <activity android:name="com.six.ui.sample.clock.ClockSample" />

        <activity android:name="com.six.ui.sample.colors.ColorMatrixSample" />

        <activity android:name="com.six.ui.sample.canvas.CanvasSample" />

        <activity android:name="com.six.ui.sample.svg.SVGAnimationActivity" />

    </application>

</manifest>
